<div class="card mb-6">
  <header class="card-header card-header-title">
        <div class="column">
      <h3><a href="/entry/{{id}}" class="text-info">{{title}}</a></h3>
      </div>
      <div class="column">
      <span class=""></span>
      </div>
    
  </header>
    <div class="card-content">
        <div class="content">
            {{entry_content}}
        </div>
            <div class="card footer">
               Posted by <b>{{user.username}}</b> on {{format_date created_at}} <p>{{comment_content}}</p> 
            </div>
        
    </div>
</div>