<div class="card mb-6">
  <header class="card-header card-header-title">
    
        <div class="column">
            <p class=""></p>
      <a href="dashboard/entry/{{id}}"  class="">{{title}}</a></p>
      </div>
      <div class="column">
      <span class=""></span>
      </div>
    
  </header>

    <div class="card-content">
        <div class="content">
            {{entry_content}}
        </div>
            <div class="card footer">
                <b>{{user.username}}</b> |  {{created_at}} <p>{{comments}}</p> 
            </div>
        
    </div>