<div class='entries-container'>
   <div class='card-header'>
      <h2>
         All Blog Entries
      </h2>
   </div>
   {{#each entries as |entry|}}
   <div class="container-fluid">
      <div class="card text">
         <div class="card-header">
            {{title}}
         </div>
         <div class="card-body">
            <p class="card-text">{{content}}</p>
            <button class="submit_entry" type="submit" value="submit" class="btn btn-primary">Go to post</button>
         </div>
         <div class="card-footer text-muted">
            {{username}} Posted on: {{entry_date}}
         </div>
      </div>
      {{comments post.comments}}
   </div>
   {{/each}}
 
 <script src='/js/addEntry.js'></script>