<article>
  <a href="/dashboard" class=""> &larr; Return to Dashboard</a>
  <h2 class="title">Edit Entry</h2><hr>
  <form class="edit-entry-form">
    <div>
        <label for="entry-title">Title:</label>
      <input class="input" name="entry-title" type="text" value="{{entry.title}}" />
    </div>
    <div>
        <label for="entry-content">entry content:</label>
      <input class="textarea" name="entry-content" type="text" value="{{entry.entry_content}}" />
    </div>
    <div class="is-pulled-right">
       {{entry.created_at}}
      |
      <a href="dashboard/entry/{{entry.id}}">{{entry.comments}}</a>
    </div>
    <button type="submit" class="button">Update Entry</button>
    <button type="submit" class="button warning delete-entry-btn">Delete Entry</button>
  </form>
</article>

{{> entry.comments}}

<script src="/js/editEntry.js"></script>
<script src="/js/deleteEntry.js"></script>
<script src="/js/comment.js"></script>
