<div class="card mb-6">
  <header>
        <div class="card-header card-header-title">
      <a href="/entry/{{entry.id}}" class="">{{entry.title}}</a></p>
      </div>
  </header>
    <div class="card">
        <div class="card-body content">
            {{entry.entry_content}}
        </div>
           <div class="card-footer">
             <p></p>
            <h6>Comments:</h6>
            <ul class="list-group">

                {{#each entry.comments as |comment|}}                          
                  <li class="list-group-item">
                    <div>
                        <p>{{comment.comment_content}}</p>
                       <p>By: {{comment.user.username}} on {{format_date comment.createdAt}}</p>
                    </div>
                </li>    
                {{/each}}
            </ul> 
        </div>   
    </div>
</div>
</section>
{{#if loggedIn}}
 <p></p>
  <p></p>
Leave a comment: 

<form class="comment-form">
  <div>
    <textarea class="ml-5" rows="3" name="comment-content"></textarea>
  </div>
  <div>
    <button class="button btn btn-success" type="submit">Post Comment</button>
  </div>
  <button class="button btn btn-warning" type="submit">Logout</button>
</form>
{{/if}}

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}